*{
    margin: 0;
}
.page1{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top right, hsl(129, 100%, 49%), rgb(41, 255, 219));
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top right, hsl(292, 100%, 50%), rgb(162, 41, 255));
    display: flex;
    justify-content: center;
    align-items: center;

}

a{
    font-size: 2rem;
    color: hsl(234, 97%, 51%);
    z-index: 999;
}